<!DOCTYPE html>
<html>

<head>
	<title>Day13&14 Home | TipsyBoy</title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>Remote Job Scrapper | TipsyBoy</h1>
    <h3>The Final Challenge - Remote is the future</h3>
  </header>
  <main>
    <article>
      <form action="/result" method="post">
        <h4>Search by term:</h4>
        <input placeholder="i.e python" required name="search_term" />
        <button type="submit">Find my job</button>
      </form>
    </article>
  </main>

</body>

</html>