<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading: 
      {% for data in check_list%}
        r/{{data}}
      {% endfor %}
    </h3>
  </header>
  <main>
    {% for ll in sorted_sub_list %}
      <div>
        <h3>
          <a href="{{ll.get('url')}}" target="_blank">
            {{ll.get('title')}}
          </a>
        </h3>
        <h4>{{ll.get('upvotes')}} upvotes · {{ll.get('sub')}}</h4>
        <hr />
      </div>
    {% endfor %}
  </main>
</body>

</html>

  